.App {
  text-align: center;
}

.App-header {
  background-color: #ffffff;
  min-height: 100vh;
  max-height: 100vh; /* Limita la altura para activar el scroll si es necesario */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  font-size: calc(10px + 2vmin);
  color: white;
  overflow-y: auto; /* Muestra un scroll vertical si el contenido es mayor que la altura */
  gap: 20px;
  padding-top: 20px;
}



