.Container {
    background-color: transparent;
    display: flex;
    justify-content: center;
    width: 15%; /* Hace que el contenedor ocupe el 100% del ancho de la pantalla */
    height: 300px; /* Altura ajustable */
    padding: 10px; /* Agregar algo de relleno */
}

.carrusel {
    text-align: center;
    margin: 20px auto;
    width: 100%; /* Ocupa el 100% del ancho disponible */
    max-width: 800px; /* Limita el ancho máximo para pantallas grandes */
}

.carrusel-images img {
    width: auto; /* Se adapta al ancho del contenedor */
    height: 200px; /* Mantiene la relación de aspecto */
    max-width: 700px; /* No sobrepasa este valor, si la pantalla es más grande */
    display: flex;
    border-radius: 8px;
    transition: opacity 1s ease-in-out; /* Para transiciones suaves */
}
